<app-nav></app-nav>
<main class="container" *ngIf="data">
  <div class="title-container">
    <span class="icon">
      <svg class="bi" width="100" height="100" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#code-slash" />
      </svg>
    </span>
    <h1 class="title" [innerHtml]="data.title | highlighter">
    </h1>
  </div>
  <section>
    <h2 class="sub-title" [innerHtml]="data.subTitle | highlighter">
    </h2>

    <h4 class="heading">
      {{data.heading}}
    </h4>

    <ng-container *ngFor="let content of data.content">
      <p class="content">
        {{content?.text}}

        <ng-container *ngFor="let link of content?.links">
          <a  class="link" [href]="link?.href" target="_blank">
            <span class="icon">
              <svg class="bi" width="40" height="40" fill="currentColor">
                <use [attr.xlink:href]="link?.icon" />
              </svg>
            </span>
          </a>
        </ng-container>
      </p>
    </ng-container>
  </section>
</main>
