<main class="container">
  <div class="title-container">

    <span class="icon">
      <svg class="bi" width="100" height="100" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#braces" />
      </svg>
    </span>
    <h1 class="title">
      Let's
      <span class="highlight">Chat</span>
    </h1>
  </div>
  <section>
    <h2 class="sub-title">Hey <span class="highlight">
        there
      </span>
    </h2>

    <h4 class="heading">
      Always looking forward to some new opportunities and getting to know new people.
    </h4>

    <p class="content">
      <a class="link" href="https://github.com/code-knayam/" target="_blank">
        <span class="icon">
          <svg class="bi" width="40" height="40" fill="currentColor">
            <use xlink:href="assets/bootstrap-icons.svg#github" />
          </svg>
        </span>
      </a>
      <a class="link" href="mailto:mayankjain1394@gmail.com" target="_blank">
        <span class="icon">
          <svg class="bi" width="40" height="40" fill="currentColor">
            <use xlink:href="assets/bootstrap-icons.svg#envelope-fill" />
          </svg>
        </span>
      </a>
      <a class="link" href="https://www.linkedin.com/in/mayankjain1394/" target="_blank">
        <span class="icon">
          <svg class="bi" width="40" height="40" fill="currentColor">
            <use xlink:href="assets/bootstrap-icons.svg#linkedin" />
          </svg>
        </span>
      </a>
    </p>

  </section>
</main>
