<div class="project" *ngFor="let project of data.projects">
  <h4 class="heading">
    <a [href]="project.repoLink" target="_blank">
      <span class="icon">
        <svg class="bi" width="30" height="30" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons.svg#github" />
        </svg>
      </span>
      {{ project.heading }}
    </a>
  </h4>

  <h5 class="sub-heading">{{ project.subHeading }}</h5>

  <p class="content">{{ project.description }}</p>

  <span class="content" *ngFor="let e of project.techStack; let last = last">
    <span class="highlight"> {{ e }}{{ !last ? "," : "" }} </span>
  </span>
</div>
