/* You can add global styles to this file, and also import other style files */
* {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg);
}
:root {
  --bg: #000000;
  --text-highlight: #ff0000;
  --text-highlight-rgb: 255, 0, 0;
  --text-color: #fff;
  --link-color: #ff0000;

  // spacing
  --spacing-01: 2px;
  --spacing-02: 4px;
  --spacing-03: 8px;
  --spacing-04: 12px;
  --spacing-05: 16px;
  --spacing-06: 24px;
  --spacing-07: 32px;

  --font-size-01: 1rem;
  --font-size-01-2: 1.2rem;
  --font-size-01-4: 1.4rem;
  --font-size-01-6: 1.6rem;
  --font-size-02: 2rem;
  --font-size-03: 3rem;
  --font-size-04: 4rem;
  --font-size-10: 10rem;
  --font-size-landing: 10rem;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

@media (max-width: 800px) {
  html {
    font-size: 8px;
  }
  :root {
    --font-size-01: 2rem;
    --font-size-01-2: 2rem;
    --font-size-01-4: 2rem;
    --font-size-01-6: 2rem;
    --font-size-02: 2rem;
    --font-size-03: 3rem;
    --font-size-04: 4rem;
    --font-size-10: 6rem;
  }
}
