<div id="home"></div>
<div class="container">
  <div class="content">
    <div>
      <h2 class="text">
        <span class="label">Hello.</span>
        <a routerLink="about" class="label-2">About</a>
      </h2>
      <h2 class="text">
        <span class="label"> I am </span>
        <a routerLink="work" class="label-2"> Work </a>
      </h2>
      <h2 class="highlight text">
        <span class="label"> Mayank </span>
        <a routerLink="contact" class="label-2"> Contact </a>
      </h2>
    </div>
    <div>
      <img class="profile-img" src="./assets/images/profile.jpg" alt="Mayank Jain" />
    </div>
  </div>

  <div class="mobile-nav">
      <a routerLink="about" class="link">About</a>
      <a routerLink="work" class="link"> Work </a>
      <a routerLink="contact" class="link"> Contact </a>
  </div>
</div>
